[Unit]
Description=gunicorn for nucleIQ
After=network.target

[Service]
User=deploy
Group=www-data
WorkingDirectory=/home/deploy/apps/nucleIQ/repo/backend
EnvironmentFile=/home/deploy/apps/nucleIQ/shared/.env
ExecStart=/home/deploy/apps/nucleIQ/shared/venv/bin/gunicorn core.wsgi:application \
  --name nucleiq \
  --bind unix:/home/deploy/apps/nucleIQ/shared/nucleiq.sock \
  --workers 3
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
